@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter18pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter18pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter BoldItalic';
    src: url('../fonts/Inter28pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url('../fonts/Inter18pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter BoldItalic';
    src: url('../fonts/Inter18pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter18pt-Light.woff2') format('woff2'),
        url('../fonts/Inter18pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Italic';
    src: url('../fonts/Inter18pt-Italic.woff2') format('woff2'),
        url('../fonts/Inter18pt-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter MediumItalic';
    src: url('../fonts/Inter18pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter SemiBold';
    src: url('../fonts/Inter18pt-SemiBold.woff2') format('woff2'),
        url('../fonts/Inter18pt-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter BlackItalic';
    src: url('../fonts/Inter24pt-BlackItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter BoldItalic';
    src: url('../fonts/Inter24pt-BoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ThinItalic';
    src: url('../fonts/Inter18pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter18pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter LightItalic';
    src: url('../fonts/Inter24pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraBoldItalic';
    src: url('../fonts/Inter24pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraLightItalic';
    src: url('../fonts/Inter24pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraLight';
    src: url('../fonts/Inter24pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter24pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter MediumItalic';
    src: url('../fonts/Inter24pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter24pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter24pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter24pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Thin';
    src: url('../fonts/Inter24pt-Thin.woff2') format('woff2'),
        url('../fonts/Inter24pt-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Bold';
    src: url('../fonts/Inter28pt-Bold.woff2') format('woff2'),
        url('../fonts/Inter28pt-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraBoldItalic';
    src: url('../fonts/Inter28pt-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraBoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraBold';
    src: url('../fonts/Inter28pt-ExtraBold.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraLight';
    src: url('../fonts/Inter28pt-ExtraLight.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter LightItalic';
    src: url('../fonts/Inter28pt-LightItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ExtraLightItalic';
    src: url('../fonts/Inter28pt-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Light';
    src: url('../fonts/Inter28pt-Light.woff2') format('woff2'),
        url('../fonts/Inter28pt-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter SemiBoldItalic';
    src: url('../fonts/Inter28pt-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Medium';
    src: url('../fonts/Inter28pt-Medium.woff2') format('woff2'),
        url('../fonts/Inter28pt-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter Regular';
    src: url('../fonts/Inter28pt-Regular.woff2') format('woff2'),
        url('../fonts/Inter28pt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter MediumItalic';
    src: url('../fonts/Inter28pt-MediumItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Inter ThinItalic';
    src: url('../fonts/Inter28pt-ThinItalic.woff2') format('woff2'),
        url('../fonts/Inter28pt-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}