$primary_color: #D43129;
$primary_color_soft: #fe8686;
$primary_black: #19191B;
$primary_green: #35CC49;
$primary_blue: #3581cc;
$primary_text: #A4A4A4;
$primary_text_secondary: #3E4C56;
$primary_white: #fff;
$primary_gray: #F4F4F2;
$border_color: #DDDDDD;

$primary_regular: 'Inter Regular';
$primary_bold: 'Inter Bold';
$primary_bold_italic: 'Inter Bold Italic';
$primary_extra_bold: 'Inter Extra Bold';
$primary_italic: 'Inter Italic';
$primary_medium: 'Inter Medium';
$primary_medium_italic: 'Inter Medium Italic';
$primary_semi_bold: 'Inter SemiBold';
$primary_light: 'Inter Light';
$primary_light_italic: 'Inter Light Italic';
$primary_thin: 'Inter Thin';
$primary_thin_italic: 'Inter Thin Italic';
$primary_extra_light: 'Inter Extra Light';
$primary_extra_light_italic: 'Inter Extra Light Italic';
$primary_black_italic: 'Inter Black Italic';